// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SHOP_SETUP_DLG DIALOGEX 0, 0, 980, 650
STYLE 0x00000040 | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_APPWINDOW
CAPTION "가맹점 설정"
FONT 9, "Malgun Gothic", 0, 0, 0x1
BEGIN
    CONTROL         "X",IDC_BTN_CLOSE,"Button",BS_OWNERDRAW | WS_TABSTOP,1000,10,20,18
    LTEXT           "금융결제원 서버",IDC_STATIC_VAN_SERVER,10,10,10,10
    COMBOBOX        IDC_COMBO_VAN_SERVER,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "포트번호",IDC_STATIC_PORT,10,10,10,10
    EDITTEXT        IDC_EDIT_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "무서명 기준 금액",IDC_STATIC_NO_SIGN_AMOUNT,10,10,10,10
    EDITTEXT        IDC_EDIT_NO_SIGN_AMOUNT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "세금 자동 역산",IDC_STATIC_TAX_PERCENT,10,10,10,10
    EDITTEXT        IDC_EDIT_TAX_PERCENT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "현금영수증 거래",IDC_STATIC_CASH_RECEIPT,10,10,10,10
    COMBOBOX        IDC_COMBO_CASH_RECEIPT,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "통신방식",IDC_STATIC_COMM_TYPE,10,10,10,10
    COMBOBOX        IDC_COMBO_COMM_TYPE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "카드 감지 이벤트 설정",IDC_CHECK_CARD_DETECT,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    EDITTEXT        IDC_EDIT_CARD_DETECT_PARAM,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    CONTROL         "멀티패드 음성 출력",IDC_CHECK_MULTI_VOICE,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    LTEXT           "카드입력 Timeout",IDC_STATIC_CARD_TIMEOUT,10,10,10,10
    EDITTEXT        IDC_EDIT_CARD_TIMEOUT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "장치 연동 방식",IDC_STATIC_INTERLOCK,10,10,10,10
    COMBOBOX        IDC_COMBO_INTERLOCK,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "서명패드 사용",IDC_STATIC_SIGN_PAD_USE,10,10,10,10
    COMBOBOX        IDC_COMBO_SIGN_PAD_USE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "서명패드 포트번호",IDC_STATIC_SIGN_PAD_PORT,10,10,10,10
    EDITTEXT        IDC_EDIT_SIGN_PAD_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "서명패드 속도",IDC_STATIC_SIGN_PAD_SPEED,10,10,10,10
    COMBOBOX        IDC_COMBO_SIGN_PAD_SPEED,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "스캐너 사용",IDC_CHECK_SCANNER_USE,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    EDITTEXT        IDC_EDIT_SCANNER_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "알림창 크기",IDC_STATIC_ALARM_SIZE,10,10,10,10
    COMBOBOX        IDC_COMBO_ALARM_SIZE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "알림창 표시 위치",IDC_STATIC_ALARM_POS,10,10,10,10
    COMBOBOX        IDC_COMBO_ALARM_POS,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "알림창 그림",IDC_CHECK_ALARM_GRAPH,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "알림창 듀얼",IDC_CHECK_ALARM_DUAL,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "자동 재실행",IDC_CHECK_AUTO_RESET,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "자동 리부팅",IDC_CHECK_AUTO_REBOOT,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    LTEXT           "요청 취소 단축키",IDC_STATIC_CANCEL_KEY,10,10,10,10
    COMBOBOX        IDC_COMBO_CANCEL_KEY,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MSR 전환 단축키",IDC_STATIC_MSR_KEY,10,10,10,10
    COMBOBOX        IDC_COMBO_MSR_KEY,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL          "", IDC_STATIC_RECT, "Static", SS_WHITERECT | WS_CHILD | WS_VISIBLE, 10, 10, 10, 10
    DEFPUSHBUTTON   "확인",IDOK,10,10,50,16
    PUSHBUTTON      "취소",IDCANCEL,10,10,50,16
END

IDD_SHOP_DOWN_DIALOG DIALOGEX 0, 0, 309, 176
STYLE 0x00000040 | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SHOP_SETUP_DLG, DIALOG
    BEGIN
    END

    IDD_SHOP_DOWN_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 302
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_SHOP_DOWN_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // 한국어(대한민국) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED