// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDR_MAINFRAME               ICON                    "KFTCOneCAP.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SHOP_SETUP_DLG DIALOGEX 0, 0, 980, 650
STYLE 0x00000040 | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_APPWINDOW
CAPTION "가맹점 설정"
FONT 9, "Malgun Gothic", 0, 0, 0x1
BEGIN
    CONTROL         "X",IDC_BTN_CLOSE,"Button",BS_OWNERDRAW | WS_TABSTOP,1000,10,20,18
    LTEXT           "금융결제원 서버",IDC_STATIC_VAN_SERVER,10,10,10,10
    COMBOBOX        IDC_COMBO_VAN_SERVER,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "포트번호",IDC_STATIC_PORT,10,10,10,10
    EDITTEXT        IDC_EDIT_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "무서명 기준 금액",IDC_STATIC_NO_SIGN_AMOUNT,10,10,10,10
    EDITTEXT        IDC_EDIT_NO_SIGN_AMOUNT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "세금 자동 역산",IDC_STATIC_TAX_PERCENT,10,10,10,10
    EDITTEXT        IDC_EDIT_TAX_PERCENT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "현금영수증 거래",IDC_STATIC_CASH_RECEIPT,10,10,10,10
    COMBOBOX        IDC_COMBO_CASH_RECEIPT,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "통신방식",IDC_STATIC_COMM_TYPE,10,10,10,10
    COMBOBOX        IDC_COMBO_COMM_TYPE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "카드 감지 이벤트 설정",IDC_CHECK_CARD_DETECT,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    EDITTEXT        IDC_EDIT_CARD_DETECT_PARAM,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    CONTROL         "멀티패드 음성 출력",IDC_CHECK_MULTI_VOICE,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    LTEXT           "카드입력 Timeout",IDC_STATIC_CARD_TIMEOUT,10,10,10,10
    EDITTEXT        IDC_EDIT_CARD_TIMEOUT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "장치 연동 방식",IDC_STATIC_INTERLOCK,10,10,10,10
    COMBOBOX        IDC_COMBO_INTERLOCK,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "서명패드 사용",IDC_STATIC_SIGN_PAD_USE,10,10,10,10
    COMBOBOX        IDC_COMBO_SIGN_PAD_USE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "서명패드 포트번호",IDC_STATIC_SIGN_PAD_PORT,10,10,10,10
    EDITTEXT        IDC_EDIT_SIGN_PAD_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "서명패드 속도",IDC_STATIC_SIGN_PAD_SPEED,10,10,10,10
    COMBOBOX        IDC_COMBO_SIGN_PAD_SPEED,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "스캐너 사용",IDC_CHECK_SCANNER_USE,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    EDITTEXT        IDC_EDIT_SCANNER_PORT,10,10,10,12,ES_AUTOHSCROLL | ES_MULTILINE
    LTEXT           "알림창 크기",IDC_STATIC_ALARM_SIZE,10,10,10,10
    COMBOBOX        IDC_COMBO_ALARM_SIZE,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "알림창 표시 위치",IDC_STATIC_ALARM_POS,10,10,10,10
    COMBOBOX        IDC_COMBO_ALARM_POS,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "알림창 그림",IDC_CHECK_ALARM_GRAPH,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "알림창 듀얼",IDC_CHECK_ALARM_DUAL,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "자동 리부팅",IDC_CHECK_AUTO_REBOOT,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    CONTROL         "은련카드 자동 핀입력",IDC_CHECK_UNION_AUTO,"Button",BS_OWNERDRAW | WS_TABSTOP,10,10,60,12
    LTEXT           "요청 취소 단축키",IDC_STATIC_CANCEL_KEY,10,10,10,10
    COMBOBOX        IDC_COMBO_CANCEL_KEY,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MSR 전환 단축키",IDC_STATIC_MSR_KEY,10,10,10,10
    COMBOBOX        IDC_COMBO_MSR_KEY,10,10,10,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL          "", IDC_STATIC_RECT, "Static", SS_WHITERECT | WS_CHILD | WS_VISIBLE, 10, 10, 10, 10
    DEFPUSHBUTTON   "확인",IDOK,10,10,50,16
    PUSHBUTTON      "취소",IDCANCEL,10,10,50,16
END

IDD_SHOP_DOWN_DIALOG DIALOGEX 0, 0, 309, 176
STYLE 0x00000040 | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "다운로드",61001,"Button",BS_OWNERDRAW | WS_TABSTOP,1,27,10,12
    CONTROL         "다운로드",61002,"Button",BS_OWNERDRAW | WS_TABSTOP,1,41,10,12
    CONTROL         "삭제",61101,"Button",BS_OWNERDRAW | WS_TABSTOP,13,27,10,12
    CONTROL         "삭제",61102,"Button",BS_OWNERDRAW | WS_TABSTOP,13,41,10,12
    EDITTEXT        62201,1,1,10,12,ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
    EDITTEXT        62202,1,14,10,12,ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
    EDITTEXT        62203,13,1,10,12,ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
    EDITTEXT        62204,13,14,10,12,ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
    EDITTEXT        62205,25,1,10,12,ES_PASSWORD | ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
    EDITTEXT        62206,25,14,10,12,ES_PASSWORD | ES_AUTOHSCROLL | ES_CENTER | ES_MULTILINE
END


IDD_KFTCONECAP_DIALOG DIALOGEX 0, 0, 725, 325
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
CAPTION "KFTCOneCAP3001"
FONT 9, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_READER_SETUP,"Button",BS_OWNERDRAW | WS_TABSTOP,20,66,134,74
    CONTROL         "",IDC_SHOP_SETUP,"Button",BS_OWNERDRAW | WS_TABSTOP,162,66,134,74
    CONTROL         "",IDC_TRANS,"Button",BS_OWNERDRAW | WS_TABSTOP,304,66,134,74
    CONTROL         "",IDC_RECEIPT_SETUP,"Button",BS_OWNERDRAW | WS_TABSTOP,446,66,134,74
    CONTROL         "Minimize",IDC_MINIMIZE,"Button",BS_OWNERDRAW | WS_TABSTOP,216,166,92,18
    CONTROL         "Exit",IDC_EXIT,"Button",BS_OWNERDRAW | WS_TABSTOP,316,166,100,18
END

IDD_TRANS_DIALOG DIALOGEX 0, 0, 567, 667
STYLE 0x00000040 | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_APPWINDOW
CAPTION "통합 결제 테스트"
FONT 9, "Malgun Gothic", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_TRANS_EDIT_SUPPLY,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_TAX,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_TIP,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_TAXFREE,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_CMB_INSTALLMENT,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_QR,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_ORG_DATE,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_ORG_APPNO,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_TRANS_EDIT_CASH_NO,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    COMBOBOX        IDC_TRANS_CMB_CASH_TYPE,0,0,10,100,CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED|CBS_HASSTRINGS|WS_VSCROLL|WS_TABSTOP
    CONTROL         "",IDC_TRANS_BTN_CLOSE,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "",IDC_TRANS_BTN_RUN,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "",IDC_TRANS_SEG,"Static",SS_NOTIFY|WS_CLIPSIBLINGS,0,0,200,28
    LTEXT           "",51000,0,0,10,10
    LTEXT           "",51001,0,0,10,10
    LTEXT           "",51002,0,0,10,10
    LTEXT           "",51003,0,0,10,10
    LTEXT           "",51004,0,0,10,10
    LTEXT           "",51005,0,0,10,10
    LTEXT           "",51006,0,0,10,10
    LTEXT           "",51007,0,0,10,10
    LTEXT           "",51008,0,0,10,10
    LTEXT           "",51009,0,0,10,10
    LTEXT           "",51100,0,0,10,10
    LTEXT           "",51101,0,0,10,10
    LTEXT           "",51102,0,0,10,10
    LTEXT           "",51103,0,0,10,10
    LTEXT           "",51104,0,0,10,10
    LTEXT           "",51105,0,0,10,10
    LTEXT           "",51106,0,0,10,10
    LTEXT           "",51107,0,0,10,10
    LTEXT           "",51108,0,0,10,10
    LTEXT           "",51109,0,0,10,10
    LTEXT           "",51110,0,0,10,10
    LTEXT           "",51111,0,0,10,10
    LTEXT           "",51112,0,0,10,10
    LTEXT           "",51113,0,0,10,10
    LTEXT           "",51114,0,0,10,10
    EDITTEXT        51200,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51201,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51202,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51203,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51204,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51205,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51206,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51207,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51208,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51209,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51210,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51211,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51212,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51213,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
    EDITTEXT        51214,0,0,10,10,ES_READONLY|ES_RIGHT|ES_AUTOHSCROLL|NOT WS_TABSTOP|NOT WS_BORDER
END

IDD_READER_SETUP_DIALOG DIALOGEX 0, 0, 980, 680
STYLE 0x00000040 | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_APPWINDOW
CAPTION "리더기 설정"
FONT 9, "Malgun Gothic", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMPORT1,60,12,90,200,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "상태체크",IDC_STATUS_CHECK1,"Button",BS_OWNERDRAW | WS_TABSTOP,160,11,56,14
    CONTROL         "키다운로드",IDC_KEYDOWN1,"Button",BS_OWNERDRAW | WS_TABSTOP,220,11,56,14
    CONTROL         "무결성체크",IDC_INTEGRITY_CHECK1,"Button",BS_OWNERDRAW | WS_TABSTOP,280,11,56,14
    CONTROL         "초기화",IDC_READER_INIT1,"Button",BS_OWNERDRAW | WS_TABSTOP,340,11,48,14
    CONTROL         "업데이트",IDC_UPDATE1,"Button",BS_OWNERDRAW | WS_TABSTOP,392,11,56,14
    CONTROL         "",IDC_PORT_OPEN1,"Button",BS_OWNERDRAW | WS_TABSTOP,460,11,46,14
    CONTROL         "",IDC_MULTIPAD1,"Button",BS_OWNERDRAW | WS_TABSTOP,520,11,46,14

    COMBOBOX        IDC_COMPORT2,60,38,90,200,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "상태체크",IDC_STATUS_CHECK2,"Button",BS_OWNERDRAW | WS_TABSTOP,160,38,56,14
    CONTROL         "키다운로드",IDC_KEYDOWN2,"Button",BS_OWNERDRAW | WS_TABSTOP,220,38,56,14
    CONTROL         "무결성체크",IDC_INTEGRITY_CHECK2,"Button",BS_OWNERDRAW | WS_TABSTOP,280,38,56,14
    CONTROL         "초기화",IDC_READER_INIT2,"Button",BS_OWNERDRAW | WS_TABSTOP,340,38,48,14
    CONTROL         "업데이트",IDC_UPDATE2,"Button",BS_OWNERDRAW | WS_TABSTOP,392,38,56,14
    CONTROL         "",IDC_PORT_OPEN2,"Button",BS_OWNERDRAW | WS_TABSTOP,460,38,46,14
    CONTROL         "",IDC_MULTIPAD2,"Button",BS_OWNERDRAW | WS_TABSTOP,520,38,46,14

    COMBOBOX        IDC_SEARCH_DATE,60,68,60,200,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "조회",IDC_SEARCH,"Button",BS_OWNERDRAW | WS_TABSTOP,126,68,40,14

    CONTROL         "",IDC_INTEGRITY_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,12,90,956,560

    CONTROL         "확인",IDOK,"Button",BS_OWNERDRAW | WS_TABSTOP,820,654,70,18
    CONTROL         "취소",IDCANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,898,654,70,18
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SHOP_SETUP_DLG, DIALOG
    BEGIN
    END

    IDD_SHOP_DOWN_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 302
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_SHOP_DOWN_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END


IDD_MODERN_MESSAGEBOX DIALOGEX 0, 0, 360, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOPMOST | WS_EX_APPWINDOW
CAPTION "KFTCGiroCAP"
FONT 9, "맑은 고딕", 0, 0, 0x0
BEGIN
    LTEXT           "메시지 내용",IDC_STATIC_MESSAGE,80,45,260,40,SS_LEFT
    DEFPUSHBUTTON   "확인",IDOK,140,95,80,30,BS_OWNERDRAW
    PUSHBUTTON      "취소",IDCANCEL,230,95,80,30,BS_OWNERDRAW
END


IDD_LOG_TRANSFER_DIALOG DIALOGEX 0, 0, 300, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE
FONT 9, "MS Shell Dlg", 400, 0, 0x0
BEGIN
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SLIP_SETUP_DLG DIALOGEX 0, 0, 480, 450
STYLE 0x00000040 | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_APPWINDOW
CAPTION "전표 출력 설정"
FONT 9, "Malgun Gothic", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_SLIP_PRINT_ENABLE,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    COMBOBOX        IDC_SLIP_COMBO_PRINT_COUNT,0,0,10,100,CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED|CBS_HASSTRINGS|WS_VSCROLL|WS_TABSTOP
    COMBOBOX        IDC_SLIP_COMBO_SPEED,0,0,10,100,CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED|CBS_HASSTRINGS|WS_VSCROLL|WS_TABSTOP
    EDITTEXT        IDC_SLIP_EDIT_PORT,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG1,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG2,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG3,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG4,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG5,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    EDITTEXT        IDC_SLIP_EDIT_MSG6,0,0,10,12,ES_AUTOHSCROLL|ES_MULTILINE
    CONTROL         "",IDC_SLIP_BTN_PRINT_INFO,"Button",BS_OWNERDRAW,0,0,10,10
    CONTROL         "",IDC_SLIP_BTN_PORT_INFO,"Button",BS_OWNERDRAW,0,0,10,10
    CONTROL         "",IDC_SLIP_BTN_SPEED_INFO,"Button",BS_OWNERDRAW,0,0,10,10
    CONTROL         "",IDC_SLIP_BTN_MSG_INFO,"Button",BS_OWNERDRAW,0,0,10,10
    RTEXT           "",IDC_SLIP_STATIC_ERR_PORT,0,0,10,10,NOT WS_VISIBLE
    CONTROL         "",IDC_SLIP_BTN_LAST_PRINT,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "",IDC_SLIP_BTN_OK,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "",IDC_SLIP_BTN_CANCEL,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
END

#endif    // 한국어(대한민국) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////
//
// Font resources (embedded TTF)
//

IDR_FONT_PRETENDARD_REGULAR  RCDATA  "fonts\Pretendard-Regular.ttf"
IDR_FONT_PRETENDARD_MEDIUM   RCDATA  "fonts\Pretendard-Medium.ttf"
IDR_FONT_PRETENDARD_BOLD     RCDATA  "fonts\Pretendard-Bold.ttf"

#endif    // not APSTUDIO_INVOKED

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,1,300
 PRODUCTVERSION 3,0,1,300
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204b0"
        BEGIN
            VALUE "CompanyName", "KFTC"
            VALUE "FileDescription", "KFTCOneCAP MFC 응용 프로그램"
            VALUE "FileVersion", "3.0.1.300"
            VALUE "ProductName", "KFTCOneCAP 응용 프로그램"
            VALUE "ProductVersion", "3.0.1.300"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 1200
    END
END

IDD_KEYIN_DIALOG DIALOGEX 0, 0, 200, 280
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9, "Arial", 400, 0, 0x0
BEGIN
    CONTROL         "1",IDC_KEYIN_BTN_1,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "2",IDC_KEYIN_BTN_2,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "3",IDC_KEYIN_BTN_3,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "4",IDC_KEYIN_BTN_4,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "5",IDC_KEYIN_BTN_5,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "6",IDC_KEYIN_BTN_6,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "7",IDC_KEYIN_BTN_7,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "8",IDC_KEYIN_BTN_8,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "9",IDC_KEYIN_BTN_9,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "",IDC_KEYIN_BTN_SPEC,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "0",IDC_KEYIN_BTN_0,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "지우기",IDC_KEYIN_BTN_DEL,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "확인",IDC_KEYIN_BTN_OK,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
    CONTROL         "취소",IDC_KEYIN_BTN_CANCEL,"Button",BS_OWNERDRAW|WS_TABSTOP,0,0,10,10
END